<h2>Game:<%= @game.name %></h2>

<table class="table">
  <thead>
    <%= ReactPhoenix.ClientSide.react_component("Components.Playground", %{id: 1, gameName: @game.name, playerNumber: @game.number, player2Name: @game.player2.name, player1Guesses: @player1Guesses, player2Guesses: @player2Guesses, player: @player}) %>
  </thead>
  <tbody>
  </tbody>
</table>
